.taskNotDone {
  color: red;
  margin-left: 10px;
}
.taskDone {
  color: green;
  margin-left: 10px;
  text-decoration: line-through;
}
.task {
  background: yellow;
}
.container {
  display: grid;
  grid-template-columns: 5% 30% 15% 15%;
  grid-column-gap: 10px;
  padding: 10px;
  font-size: 20px;
  align-items: center;
  font-weight: bolder;
  margin-left: 250px;
  margin-right: 100px;
}
.btn {
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #ff0000;
  background-color: rgb(235, 54, 54, 0.8);
  color: white;
  border-radius: 12px;
}
.time {
  font-size: 12px;
  font-weight: 200;
}
